<%
	timeHonolulu = Time.now.in_time_zone('Hawaii')
	timeVancouver = Time.now.in_time_zone('Pacific Time (US & Canada)')
	timeOttawa = Time.now.in_time_zone('Eastern Time (US & Canada)')
	timeRio = Time.now.in_time_zone('Brasilia')
	timeParis = Time.now.in_time_zone('Paris')
	timeCairo = Time.now.in_time_zone('Cairo')
	timeTokyo = Time.now.in_time_zone('Tokyo')
	timeSydney = Time.now.in_time_zone('Sydney')
%>

<div class="full-clock" id="honolulu">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockHonolulu"></canvas>
	<p>Honolulu <span class="time"><%= timeHonolulu.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="vancouver">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockVancouver"></canvas>
	<p>Vancouver <span class="time"><%= timeVancouver.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="ottawa">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockOttawa"></canvas>
	<p>Ottawa <span class="time"><%= timeOttawa.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="rio">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockRio"></canvas>
	<p>Rio de Janeiro <span class="time"><%= timeRio.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="paris">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockParis"></canvas>
	<p>Paris <span class="time"><%= timeParis.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="cairo">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockCairo"></canvas>
	<p>Cairo <span class="time"><%= timeCairo.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="tokyo">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockTokyo"></canvas>
	<p>Tokyo <span class="time"><%= timeTokyo.to_s(:time) %></span></p>
</div>

<div class="full-clock" id="sydney">
	<div class="noblur"></div>
	<canvas width="300" height="300" id="clockSydney"></canvas>
	<p>Sydney <span class="time"><%= timeSydney.to_s(:time) %></span></p>
</div>

<nav>
	<ul>
		<a href="#honolulu"><li>Hon</li></a>
		<a href="#vancouver"><li>Van</li></a>
		<a href="#ottawa"><li>Ott</li></a>
		<a href="#rio"><li>Rio</li></a>
		<a href="#paris"><li>Par</li></a>
		<a href="#cairo"><li>Cai</li></a>
		<a href="#tokyo"><li>Tok</li></a>
		<a href="#sydney"><li>Syd</li></a>
	</ul>
</nav>

<script type="text/javascript">
  window.onload = function() {
  	clockOpts = {
      	startTime: <%= timeHonolulu.seconds_since_midnight.ceil %>,
      	tz: 0,
      	tick: false,
      	hideSeconds: true,
      	dHourR1: 22,
      	dMinuteR1: 22,
      	dHThickness: 0,
      	dMThickness: 0,
      	dColour: '#fff',
      	hColour: '#fff',
      	mColour: '#fff',
      	hThickness: 1,
      	mThickness: 1,
      	hOverlap: 0,
      	mOverlap: 0,
      	hCap: 'round',
      	mCap: 'round'
    }

    zIndexCount = 1001;
    $('nav ul li').click(function() {
    	var city = $(this).parents('a').attr('href');
    	console.log(city);
    	$('.full-clock').not(city).removeClass('current');
    	$(city).css('opacity', 0);
    	$(city).css('z-index', zIndexCount);
    	$(city).find('.noblur').css('z-index', zIndexCount + 1);
    	$(city).animate({'opacity': 1}, 1000);
    	zIndexCount++;
    });

    $('.full-clock').hover(function() {
    	$(this).find('.noblur').animate({'opacity': 1}, 1000);
    }, function() {
    	$(this).find('.noblur').animate({'opacity': 0}, 1000);
    });

	try {
	  clockOpts.startTime = <%= timeHonolulu.seconds_since_midnight.ceil %>;
      startClock('clockHonolulu', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeVancouver.seconds_since_midnight.ceil %>;
      startClock('clockVancouver', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeOttawa.seconds_since_midnight.ceil %>;
      startClock('clockOttawa', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeRio.seconds_since_midnight.ceil %>;
      startClock('clockRio', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeParis.seconds_since_midnight.ceil %>;
      startClock('clockParis', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeCairo.seconds_since_midnight.ceil %>;
      startClock('clockCairo', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeTokyo.seconds_since_midnight.ceil %>;
      startClock('clockTokyo', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }

	try {
	  clockOpts.startTime = <%= timeSydney.seconds_since_midnight.ceil %>;
      startClock('clockSydney', clockOpts);
    } catch(e) {
      // in Internet Explorer there is no canvas!
      document.getElementById('myCanvasContainer').style.display = 'none';
    }
  };
</script>
